.Rproj.user
.Rhistory
.RData
.Ruserdata

cache/
data/
output/

# Individual output files
munge/00\.01\.PreprocessAvian_SS\.docx

images/

RDataFiles/

rawData/

D\.rankPatterns/figures/

*.docx

E\.birdDensityPatterns/E\.01\.DensityPatterns\.html

E\.birdDensityPatterns/figures/

A\.dataQualityChecking/A\.01\.Create_master_matrix\.html

Metadata, Info, Reports/VRI Variables Desired \(for subsetting\)\.csv

Metadata, Info, Reports/VRI Variables Desired \(for subsetting\)\.xlsx

Metadata, Info, Reports/VRI README\.txt

B\.dataManipulationDescription/figures/Fig\.histogram\.temporallag-1\.png

B\.dataManipulationDescription/figures/

B\.dataManipulationDescription/Temporal_lag\.html
